// ----------------------------------------------------------------------
	// Layout Breakpoints
// ----------------------------------------------------------------------
$maxWidth: 1280px;


// ----------------------------------------------------------------------
	// Font Sizes
// ----------------------------------------------------------------------
$regularSize: 14px;


// ----------------------------------------------------------------------
	// Font Families
// ----------------------------------------------------------------------
$helvetica: Helvetica, Arial, sans-serif;
$mark-extra: "Mark-Extralight", Helvetica, sans-serif;
$mark-medium: "Mark-Medium", Helvetica, sans-serif;
$mark-bold: "Mark-Bold", Helvetica, sans-serif;
$mark-bold-italic: "Mark-Bold-Italic", Helvetica, sans-serif;
$mark-light: "Mark-Light", Helvetica, sans-serif;
$klavika-light: "Klavika Lt", Helvetica, sans-serif;
$klavika-bold: "Klavika Bd", Helvetica, sans-serif;
$klavika-medium: "Klavika Md", Helvetica, sans-serif;
$klavika-medium-italic: "Klavika Md It", Helvetica, sans-serif;

// ----------------------------------------------------------------------
  // Grid
// ----------------------------------------------------------------------
$grid-columns: 12;

// ----------------------------------------------------------------------
  // Grid
// ----------------------------------------------------------------------

$font-color-primary: #f6f6f6;
$font-color-back: #00000b;
$font-color-third: #90dbef;
//$font-color-third: #24ccf8;
$font-color-four:#ffa247;